<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MXCategoryDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA55CEE21C79472300826A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA55CEFB1C79472300826A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA55CF061C79472300826A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
